<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
  xmlns:tx="http://www.springframework.org/schema/tx"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/util
 http://www.springframework.org/schema/context/spring-util-4.0.xsd
  http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
  http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
 

 <mvc:annotation-driven />
 

 <mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>
 
 <!--  to enable all annotations like @Controller, -->
 <context:component-scan base-package="calorietracker" />
 
 <!--  view resolver -->
 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
   <property name="prefix" value="/WEB-INF/views/" />    <!-- aapka page kis folder m hoga -->
   <property name="suffix" value=".jsp" />               <!-- page ka name end kisse hoga -->
   <!--EMAMPLE=> /WEB-INF/views/hello.jsp -->
   </bean>
   
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds">
   <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
   <property name="url" value="jdbc:mysql://localhost:3306/springjdbc"/>
   <property name="username" value="root"/>
   <property name="password" value="tiger" />
 </bean>
 
 <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbctemplate">
   <property name="dataSource" ref="ds" />
 </bean>
 
 <bean class="com.dao.UserDaoImpl" name="userdao">
   <property name="jdbcTemplate" ref="jdbctemplate" />
   </bean>
   
  <bean class="com.dao.FoodDao" name="fooddao">
   <property name="jdbcTemplate" ref="jdbctemplate" />
 </bean>
 
 <bean class="calorietracker.CaloriesIn" name="caloriesin" />
 
 <bean class="com.entities.Chart" name="chart" />
 
  <bean class="com.dao.ActivityDao" name="activitydao">
   <property name="jdbcTemplate" ref="jdbctemplate" />
 </bean>
 
 <bean class="com.dao.ChartDao" name="chartdao">
   <property name="jdbcTemplate" ref="jdbctemplate" />
 </bean>
 
 <bean class="com.dao.NetCaloriesDao" name="ncDao">
   <property name="jdbcTemplate" ref="jdbctemplate" />
 </bean>
 
 </beans>